<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fh.mapper.dsno1.option.OptionMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TABLE_OPTION
	</sql>
	
	<!--数据字典表名 -->
	<sql id="dicTableName">
		SYS_DICTIONARIES
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		f.NAME,	
		f.TYPE,	
		f.TABLE_ID,	
		f.PARENT_ID,	
		f.VALUE,	
		f.PINYIN,	
		f.ORDER,	
		f.FIELD3,	
		f.OPTION_ID
	</sql>
	
	<!-- 字段用于新增 -->
	<sql id="Field2">
		`NAME`,
		`TYPE`,
		TABLE_ID,	
		PARENT_ID,	
		`VALUE`,
		PINYIN,	
		`ORDER`,
		FIELD3,	
		OPTION_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{NAME},	
		#{TYPE},	
		#{TABLE_ID},	
		#{PARENT_ID},	
		#{VALUE},	
		#{PINYIN},	
		#{ORDER},	
		#{FIELD3},	
		#{OPTION_ID}
	</sql>

	<!-- 字段值 -->
	<sql id="saveAllFieldValue">
		#{item.NAME},
		#{item.TYPE},
		#{item.TABLE_ID},
		#{item.PARENT_ID},
		#{item.VALUE},
		#{item.PINYIN},
		#{item.ORDER},
		#{item.FIELD3},
		#{item.OPTION_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field2"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			OPTION_ID = #{OPTION_ID}
	</delete>

	<!-- 根据tableId删除-->
	<delete id="deleteByTableId" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
			TABLE_ID=#{TABLE_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			`NAME` = #{NAME},
			`TYPE` = #{TYPE},
			TABLE_ID = #{TABLE_ID},
			PARENT_ID = #{PARENT_ID},
			`VALUE` = #{VALUE},
			PINYIN = #{PINYIN},
			`ORDER` = #{ORDER},
			FIELD3 = #{FIELD3},
			OPTION_ID = OPTION_ID
		where 
			OPTION_ID = #{OPTION_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 
			f.OPTION_ID = #{OPTION_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 1=1
		<if test="pd.KEYWORDS != null and pd.KEYWORDS != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.KEYWORDS}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.KEYWORDS}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 1=1
			<if test="TABLE_ID!=null and TABLE_ID !=''">
				and f.TABLE_ID=#{TABLE_ID}
			</if>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			OPTION_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>

	<!-- 批量添加 -->
	<insert id="batchSave" parameterType="java.util.List" >
		INSERT INTO
		<include refid="tableName"></include>
		(
		<include refid="Field2"></include>
		)values
		<foreach collection="list" item="item" index="index" separator=",">
			(
			<include refid="saveAllFieldValue"></include>
			)
		</foreach>
	</insert>

	<select id="findByParentId" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include> f
		 where f.PARENT_ID=#{PARENT_ID}
	</select>
	
	<!-- fh313596790qq(青苔) -->
</mapper>