<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FH Admin</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="FH Admin QQ313596790" />

    <link rel="icon" href="../../../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    
    <!-- 日期插件 -->
    <link rel="stylesheet" href="../../../assets/plugins/material-datetimepicker/css/bootstrap-material-datetimepicker.css">
    
    <!-- select插件 -->
    <link rel="stylesheet" href="../../../assets/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/multi-select/css/multi-select.css">
    
    <!-- vue -->
	<script src="../../../assets/js-vue/vue.js"></script>
    <!--全局配置-->
    <script src="../../../assets/js-v/config.js"></script>

</head>

<body style="background-color: white">
    
    <!-- [加载状态 ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ 加载状态  ] End -->

    <!-- [ 主内容区 ] start -->
        <div class="pcoded-wrapper" id="app">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
					
								<div style="width: 100%;">
									<div id="showform">
														            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">id</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="APPROVEFORM_ID" id="APPROVEFORM_ID" v-model="pd.APPROVEFORM_ID" maxlength="64" placeholder="这里输入id" title="id">
		                                </div>
							            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">审批id</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="APPROVE_ID" id="APPROVE_ID" v-model="pd.APPROVE_ID" maxlength="64" placeholder="这里输入审批id" title="审批id">
		                                </div>
							            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">填报表id</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="FORMDATA_ID" id="FORMDATA_ID" v-model="pd.FORMDATA_ID" maxlength="64" placeholder="这里输入填报表id" title="填报表id">
		                                </div>
							            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">填报表类型</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="FORM_TYPE" id="FORM_TYPE" v-model="pd.FORM_TYPE" maxlength="255" placeholder="这里输入填报表类型" title="填报表类型">
		                                </div>
							            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">备注5</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="FIELD1" id="FIELD1" v-model="pd.FIELD1" maxlength="255" placeholder="这里输入备注5" title="备注5">
		                                </div>
							            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">备注6</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="FIELD2" id="FIELD2" v-model="pd.FIELD2" maxlength="255" placeholder="这里输入备注6" title="备注6">
		                                </div>
							            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">备注7</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="FIELD3" id="FIELD3" v-model="pd.FIELD3" maxlength="255" placeholder="这里输入备注7" title="备注7">
		                                </div>
							            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">备注8</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="FIELD4" id="FIELD4" v-model="pd.FIELD4" maxlength="255" placeholder="这里输入备注8" title="备注8">
		                                </div>
							            <div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">备注9</span></span>
		                                    </div>
		                                    <input type="text" class="form-control" ref="FIELD5" id="FIELD5" v-model="pd.FIELD5" maxlength="255" placeholder="这里输入备注9" title="备注9">
		                                </div>
							            <div class="input-group" style="margin-top:10px;background-color: white" >
							            	<span style="width: 100%;text-align: center;">
							            		<a class="btn btn-light btn-sm" v-on:click="save">保存</a>
							            		<a class="btn btn-light btn-sm" onclick="top.Dialog.close()">取消</a>
							            	</span>
							            </div>
							       </div>
						           <!-- [加载状态 ] start -->
								    <div id="jiazai" style="display:none;margin-top:50px;">
								    	<div class="d-flex justify-content-center">
	                                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </div>
								    <!-- [ 加载状态  ] End -->
								</div>
	    
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- [ 主内容区 ] end -->
    
<script type="text/javascript" src="../../../assets/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="../../../assets/js/pre-loader.js"></script>
<script src="../../../assets/plugins/sweetalert/js/sweetalert.min.js"></script>

<!-- 日期插件 -->
<script src="../../../assets/js/pages/moment-with-locales.min.js"></script>
<script src="../../../assets/plugins/material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<script src="../../../assets/js/pages/form-picker-custom.js"></script>

<!-- select插件 -->
<script src="../../../assets/plugins/select2/js/select2.full.min.js"></script>
<script src="../../../assets/plugins/multi-select/js/jquery.quicksearch.js"></script>
<script src="../../../assets/plugins/multi-select/js/jquery.multi-select.js"></script>
<script src="../../../assets/js/pages/form-select-custom.js"></script>

<!-- 表单验证提示 -->
<script src="../../../assets/js/jquery.tips.js"></script>

<script type="text/javascript">

var vm = new Vue({
	el: '#app',
	
	data:{
		APPROVEFORM_ID: '',	//主键ID
		pd: [],						//存放字段参数
		msg:'add'
    },
	
	methods: {
		
        //初始执行
        init() {
        	var FID = this.getUrlKey('FID');	//当接收过来的FID不为null时,表示此页面是修改进来的
        	if(null != FID){
        		this.msg = 'edit';
        		this.APPROVEFORM_ID = FID;
        		this.getData();
        	}
        	setTimeout(function(){
        		vm.getDict();
            },200);
        },
        
        //去保存
    	save: function (){
    		
			if(this.pd.APPROVEFORM_ID == '' || this.pd.APPROVEFORM_ID == undefined){
				$("#APPROVEFORM_ID").tips({
					side:3,
		            msg:'请输入id',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.APPROVEFORM_ID = '';
				this.$refs.APPROVEFORM_ID.focus();
			return false;
			}
			if(this.pd.APPROVE_ID == '' || this.pd.APPROVE_ID == undefined){
				$("#APPROVE_ID").tips({
					side:3,
		            msg:'请输入审批id',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.APPROVE_ID = '';
				this.$refs.APPROVE_ID.focus();
			return false;
			}
			if(this.pd.FORMDATA_ID == '' || this.pd.FORMDATA_ID == undefined){
				$("#FORMDATA_ID").tips({
					side:3,
		            msg:'请输入填报表id',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.FORMDATA_ID = '';
				this.$refs.FORMDATA_ID.focus();
			return false;
			}
			if(this.pd.FORM_TYPE == '' || this.pd.FORM_TYPE == undefined){
				$("#FORM_TYPE").tips({
					side:3,
		            msg:'请输入填报表类型',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.FORM_TYPE = '';
				this.$refs.FORM_TYPE.focus();
			return false;
			}
			if(this.pd.FIELD1 == '' || this.pd.FIELD1 == undefined){
				$("#FIELD1").tips({
					side:3,
		            msg:'请输入备注5',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.FIELD1 = '';
				this.$refs.FIELD1.focus();
			return false;
			}
			if(this.pd.FIELD2 == '' || this.pd.FIELD2 == undefined){
				$("#FIELD2").tips({
					side:3,
		            msg:'请输入备注6',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.FIELD2 = '';
				this.$refs.FIELD2.focus();
			return false;
			}
			if(this.pd.FIELD3 == '' || this.pd.FIELD3 == undefined){
				$("#FIELD3").tips({
					side:3,
		            msg:'请输入备注7',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.FIELD3 = '';
				this.$refs.FIELD3.focus();
			return false;
			}
			if(this.pd.FIELD4 == '' || this.pd.FIELD4 == undefined){
				$("#FIELD4").tips({
					side:3,
		            msg:'请输入备注8',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.FIELD4 = '';
				this.$refs.FIELD4.focus();
			return false;
			}
			if(this.pd.FIELD5 == '' || this.pd.FIELD5 == undefined){
				$("#FIELD5").tips({
					side:3,
		            msg:'请输入备注9',
		            bg:'#AE81FF',
		            time:2
		        });
				this.pd.FIELD5 = '';
				this.$refs.FIELD5.focus();
			return false;
			}
    		
    		$("#showform").hide();
    		$("#jiazai").show();
    		
            //发送 post 请求提交保存
            $.ajax({
	            	xhrFields: {
	                    withCredentials: true
	                },
					type: "POST",
					url: httpurl+'approveform/'+this.msg,
			    	data: {APPROVEFORM_ID:this.APPROVEFORM_ID,
				    APPROVEFORM_ID:this.pd.APPROVEFORM_ID,
				    APPROVE_ID:this.pd.APPROVE_ID,
				    FORMDATA_ID:this.pd.FORMDATA_ID,
				    FORM_TYPE:this.pd.FORM_TYPE,
				    FIELD1:this.pd.FIELD1,
				    FIELD2:this.pd.FIELD2,
				    FIELD3:this.pd.FIELD3,
				    FIELD4:this.pd.FIELD4,
				    FIELD5:this.pd.FIELD5,
			    	tm:new Date().getTime()},
					dataType:"json",
					success: function(data){
                        if("success" == data.result){
                        	swal("", "保存成功", "success");
                        	setTimeout(function(){
                        		top.Dialog.close();//关闭弹窗
                            },1000);
                        }else if ("exception" == data.result){
                        	showException("流程审批和填报表单关联表",data.exception);//显示异常
                        	$("#showform").show();
                    		$("#jiazai").hide();
                        }
                    }
				}).done().fail(function(){
                   swal("登录失效!", "请求服务器无响应，稍后再试", "warning");
                   $("#showform").show();
           		   $("#jiazai").hide();
                });
    	},
    	
    	//根据主键ID获取数据
    	getData: function(){
    		//发送 post 请求
            $.ajax({
            	xhrFields: {
                    withCredentials: true
                },
				type: "POST",
				url: httpurl+'approveform/goEdit',
		    	data: {APPROVEFORM_ID:this.APPROVEFORM_ID,tm:new Date().getTime()},
				dataType:"json",
				success: function(data){
                     if("success" == data.result){
                     	vm.pd = data.pd;							//参数map
                     }else if ("exception" == data.result){
                     	showException("流程审批和填报表单关联表",data.exception);	//显示异常
                     	$("#showform").show();
                 		$("#jiazai").hide();
                     }
                  }
			}).done().fail(function(){
                  swal("登录失效!", "请求服务器无响应，稍后再试", "warning");
                  $("#showform").show();
          		  $("#jiazai").hide();
               });
    	},
    	
    	//获取数据字典数据
		getDict: function (){
		},
    	
    	//根据url参数名称获取参数值
        getUrlKey: function (name) {
            return decodeURIComponent(
                (new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.href) || [, ""])[1].replace(/\+/g, '%20')) || null;
        }
        
	},
	
	mounted(){
        this.init();
    }
})
				
</script>

</body>
</html>