<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10" />
<title>海淀区民办教育管理平台</title>
<link href="../css/common.css" rel="stylesheet" type="text/css">
<link href="../css/list.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery.SuperSlide.2.1.1.js"></script>
<script>
$(function(){
	$(".searchhistory a").each(function(index){if(index > 2){ $(this).remove();};});
});
</script>
</head>
<body>
<div class="wrap">
    <div class="wrap_main clearfixhack">
    <!-- 主体 开始 -->
		<div class="indextop">
			<div class="container">
				海淀区民办教育管理平台
				<a class="fr c666" href="#">联系我们</a>
				<a class="fr c666" href="#">人才招聘</a>
				<a class="fr c666" href="#">首页</a>
			</div>
		</div><!-- indextop  end  -->
		<div class="indexhead">
			<div class="container">
				<img class="logo" src="../img/logo.png" />
				<div class="searchbox">
					<div class="searchinput"><input type="text" placeholder="请输入您要搜索的内容" /></div>
					<div class="searchbtn"><a href="#"></a></div>
					<div class="searchhistory">热门搜索：<a href="#">教育</a><a href="#">海淀</a><a href="#">幼儿园</a></div>
				</div>
			</div>
		</div><!-- indexhead  end  -->
    	<div class="indexmenu">
			<div class="container">
				<ul>
					<li><a href="#">首页</a></li>
					<li class="on"><a href="#">新闻动态</a></li>
					<li><a href="#">政务公开</a></li>
					<li><a href="#">党务公开</a></li>
					<li><a href="#">教育风采</a></li>
					<li><a href="#">学校名录</a></li>
					<li><a href="#">下载中心</a></li>
					<li><a href="#">联系我们</a></li>
				<ul>
			</div>
		</div><!-- indexmenu  end  -->
		<div class="container clearfix mb20">
			<div class="list_L pagemap">
				<div class="head">
					<h4>表格</h4>
				</div>
				<div class="pagemapmid">
					<div class="pagemapmid_T clearfix">
						<h1 class="table_T">举办者基本情况</h1>
					</div>
					<div class="pagemapmid_B">
						<table class="table_M" width="100%" border="0" cellspacing="0" cellpadding="0">
						  <tr>
							<th>举办单位名称</th>
							<td><input type="text" /></td>
							<th>电话</th>
							<td><input type="text" /></td>
						  </tr>
						  <tr>
							<th>单位地址</th>
							<td><input type="text" /></td>
							<th>邮政编码</th>
							<td><input type="text" /></td>
						  </tr>
						  <tr>
							<th>法定代表人</th>
							<td><input type="text" /></td>
							<th>法人类型</th>
							<td><input type="text" /></td>
						  </tr>
						  <tr>
							<th>注册资金</th>
							<td><input type="text" /></td>
							<th>现有总资金</th>
							<td><input type="text" /></td>
						  </tr>
						  <tr>
							<th>开户银行</th>
							<td><input type="text" /></td>
							<th>提供办学资金</th>
							<td><input type="text" /></td>
						  </tr>
						  <tr>
							<th>银行账号</th>
							<td colspan="3"><input type="text" /></td>
							</tr>
						</table>
						<center><a class="btn1 mr20" href="btn">提交</a><a class="btn1" href="btn">返回</a></center>
					</div>
				</div>
			</div><!-- list_L  end  -->
		</div>
    <!-- 主体  结束  -->
    </div>
</div>
<!-- 底部  开始  -->
<div class="footer">
	<div class="main">
		<p>版权所有：北京市海淀区教育委员会     京ICP备17037050号-2</br>
		地址：北京市海淀区西四环北路11号　咨询热线：96181</p>
	</div>
</div>
<!-- 底部  结束  -->
</body>
</html>
