<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FH Admin</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="FH Admin QQ313596790" />

    <link rel="icon" href="../../../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../assets/fonts/material/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../../assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">
	<!--layui-->
	<link rel="stylesheet" href="../../../assets/css/layui/modules/layer/default/layer.css">
	<link rel="stylesheet" href="../../../assets/css/layui/layui.css" >
	
    <link rel="stylesheet" href="../../../assets/css/bootstrap/bootstrap.min.css">
	<!-- 富文本编辑器js   			开始-->
	<script type="text/javascript" src="../../../assets/plugins/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" src="../../../assets/plugins/ueditor/ueditor.all.min.js"> </script>
	<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
	<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
	<script type="text/javascript" src="../../../assets/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
	<!-- 富文本编辑器js   			结束-->
	<link rel="stylesheet" href="../../../assets/css/notify/details.css">
    <!-- vue -->
    <script src="../../../assets/js-vue/vue.js"></script>
    <!--全局配置-->
    <script src="../../../assets/js-v/config.js"></script>
	<style>
		#textarea {
		            display: block;
		            margin: 0 auto;
		            overflow: hidden;
		            width: 60%;
		            font-size: 14px;
		            height: 18px;
		            line-height: 24px;
		            padding: 2px;
		        }
	</style>

</head>
<body>

<div id="main">
  
	<div class="details">
		<div class="title">{{pd.TITLE}}</div>
		<div class="time">{{pd.CREATE_DATE}} 来源：{{pd.INITIATOR_NAME}}</div>
		<div class="content" v-html="content">
			<!-- <p>{{pd.CONTENT}}</p> -->
		</div>
		
		<div class="jumbotron" style="padding-left: 60px!important;padding-bottom: 10px!important;padding-top:10px;margin-bottom: 0px;">
			  <div class="page-header" style="float:left;margin:0;width: 100%;">
			      <h3 style="margin:0;line-height:50px;font-family:SimHei">附件</h3>
			  </div>
			  <div style="float:left;width:calc(100% - 80px)">
				<h4 v-show="varList.length==0" style="font-weight: bold;">没有附件</h4>
				<ul  v-show="varList.length!=0" v-for="(data,index) in varList" style="line-height:50px;float:left;margin:10px 20px;display: block;">
					<li>
						<a href="#" v-on:click="downloadAtt(data.ID,data.URL)" style="text-decoration:none;color: blue;"><li  style="list-style: none;" >{{index+1}}.{{data.ORIGINAL_NAME}}</li></a>
					</li>
				</ul>
			  </div>
			  <div style="clear:both;"></div>
			</div>
		
			<div id="" class="jumbotron" style="padding-top:10px;margin-top:0;padding-left: 60px!important;display: flex;flex-direction: column; justify-content:center;margin-bottom: 0px;" v-show="!isUser">
				<div class="page-header" style="margin:0;">
				    <h3 style="margin:0;line-height:50px;font-family:SimHei">通知详细</h3>	
				</div>
				
				<div align="right" style="margin-top: 0px">
					<button type="button" class="layui-btn layui-btn-sm layui-btn-normal "  style="float: left;"  v-on:click="initTable('has')">查看已回执名单({{hasCount}}) </button>
					<button type="button" class="layui-btn layui-btn-sm layui-btn-danger " style="float: left;" v-on:click="initTable('noHas')"> 查看未回执名单({{noHasCount}})</button>
					<button type="button" class="layui-btn layui-btn-sm" @click="goExcel"> 导出回执</button>
				
					</div>
				
			</div>
		<div>
</div>
</div>
</div>
<div  class="table-responsive" style="clear:both;width: 100%;height: 500px;display: none;" id="init_table">
					<table  class="table table-striped text-nowrap" id="exampleTable" >
					</table>
						
</div>


<script type="text/javascript" src="../../../assets/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="../../../assets/js/pre-loader.js"></script>
<script src="../../../assets/plugins/sweetalert/js/sweetalert.min.js"></script>

  <!--layui-->
<script type="text/javascript" src="../../../assets/js/layui/layui.js"></script>
<script type="text/javascript" src="../../../assets/js/layui/layer.js"></script>
<script type="text/javascript" src="../../../assets/js/layui/lay/modules/layer.js"></script>

<!-- 表单验证提示 -->
<script src="../../../assets/js/jquery.tips.js"></script>

<!-- bootstrap_table js -->
	
	<script src="../../../assets/js/bootstarp/bootstrap.js"></script>
	<script src="../../../assets/plugins/bootstrap-table/bootstrap-table.min.js"></script>
	<script src="../../../assets/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

<script type="text/javascript" src="../../../assets/js-v/inform/preview.js"></script>


</body>

</html>