<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fh.mapper.dsno1.bookinguser.BookingUserMapper">

    <!--表名 -->
    <sql id="tableName">
		CMS_BOOKINGUSER
	</sql>

    <!--数据字典表名 -->
    <sql id="dicTableName">
		SYS_DICTIONARIES
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		f.BOOKINGUSER_ID,	
		f.BOOKING_ID,	
		f.APPROVE_ID,	
		f.BOOKING_TIME,	
		f.EVIDENCE,	
		f.ISPASS,	
		f.USER_ID,	
		f.PROC_INST_ID,	
		f.TYPE,	
		f.STATUS
	</sql>

    <!-- 字段用于新增 -->
    <sql id="Field2">
		BOOKINGUSER_ID,	
		BOOKING_ID,	
		APPROVE_ID,	
		BOOKING_TIME,	
		EVIDENCE,	
		ISPASS,	
		USER_ID,	
		PROC_INST_ID,	
		`TYPE`,
		STATUS
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{BOOKINGUSER_ID},	
		#{BOOKING_ID},	
		#{APPROVE_ID},	
		#{BOOKING_TIME},	
		#{EVIDENCE},	
		#{ISPASS},	
		#{USER_ID},	
		#{PROC_INST_ID},	
		#{TYPE},	
		1
	</sql>

    <!-- 新增-->
    <insert id="save" parameterType="pd">
        insert into
        <include refid="tableName"></include>
        (
        <include refid="Field2"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>

    <!-- 删除-->
    <delete id="delete" parameterType="pd">
        delete from
        <include refid="tableName"></include>
        where
        BOOKINGUSER_ID = #{BOOKINGUSER_ID}
    </delete>

    <!-- 修改 -->
    <update id="edit" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        BOOKINGUSER_ID = #{BOOKINGUSER_ID},
        BOOKING_ID = #{BOOKING_ID},
        APPROVE_ID = #{APPROVE_ID},
        BOOKING_TIME = #{BOOKING_TIME},
        EVIDENCE = #{EVIDENCE},
        ISPASS = #{ISPASS},
        USER_ID = #{USER_ID},
        PROC_INST_ID = #{PROC_INST_ID},
        `TYPE` = #{TYPE},
        `STATUS` = #{STATUS}
        where
        BOOKINGUSER_ID = #{BOOKINGUSER_ID}
    </update>

    <!-- 通过ID获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        f
        where
        f.BOOKINGUSER_ID = #{BOOKINGUSER_ID}
    </select>

    <!-- 列表 -->
    <select id="datalistPage" parameterType="page" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        f
        where 1=1
        <if test="pd.KEYWORDS != null and pd.KEYWORDS != ''"><!-- 关键词检索 -->
            and
            (
            <!--	根据需求自己加检索条件-->
			f.APPROVE_ID LIKE CONCAT(CONCAT('%', #{pd.KEYWORDS}),'%')
               or
            f.BOOKING_TIME LIKE CONCAT(CONCAT('%', #{pd.KEYWORDS}),'%')
            )
        </if>
    </select>

    <!-- 列表(全部) -->
    <select id="listAll" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        f
    </select>

    <!-- 批量删除 -->
    <delete id="deleteAll" parameterType="String">
        delete from
        <include refid="tableName"></include>
        where
        BOOKINGUSER_ID in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

	<select id="findByUserId" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include> f
		where f.STATUS='1'
		<if test="USER_ID!=null and USER_ID!=''">
		and   f.USER_ID=#{USER_ID}
		</if>
		<if test="TYPE!=null and TYPE!=''">
			and   f.TYPE=#{TYPE}
		</if>

	</select>


    <select id="data2listPage" resultType="pd" parameterType="page">

		SELECT
	e.BOOKINGUSER_ID,
	e.BOOKING_TIME,
	e.NAME,
	e.ISPASS,
	c.TITLE,
	c.START_TIME,
	c.END_TIME,
	e.TYPE,
	e.STATUS,
	e.DEPARTMENT_NAME
FROM
	(
		SELECT
			bur.BOOKINGUSER_ID,
			bur.BOOKING_TIME,
			bur.BOOKING_ID,
			bur.APPROVE_ID,
			bur.USER_ID,
			bur.ISPASS,
			bur. NAME,
			bur.TYPE,
			bur.STATUS,
			d.NAME AS DEPARTMENT_NAME
		FROM
			(
				SELECT
					bu.BOOKINGUSER_ID,
					bu.BOOKING_TIME,
					bu.BOOKING_ID,
					bu.APPROVE_ID,
					bu.USER_ID,
					bu.ISPASS,
					bu.TYPE,
					bu.STATUS,
					u. NAME,
					u.DEPARTMENT_ID

				FROM
					cms_bookinguser bu
				LEFT JOIN sys_user u ON bu.USER_ID = u.USER_ID
				where 1=1
				<if test="pd.USER_ID != null and pd.USER_ID != ''"><!-- 关键词检索 -->
					and
					(
					<!--	根据需求自己加检索条件-->
					bu.USER_ID = #{pd.USER_ID}
					<!--
					   or
					  字段2 LIKE CONCAT(CONCAT('%', #{pd.KEYWORDS}),'%')
				  -->
					)
				</if>
				<if test="pd.KEYWORDS != null and pd.KEYWORDS != ''"><!-- 关键词检索 -->
					and
					(
					<!--	根据需求自己加检索条件-->
						bu.APPROVE_ID LIKE CONCAT(CONCAT('%', #{pd.KEYWORDS}),'%')
					)
	</if> 
			) bur
		LEFT JOIN oa_organization d ON bur.DEPARTMENT_ID = d.ORGANIZATION_ID
	) e
LEFT JOIN (
	SELECT
		b.BOOKING_ID,
		bi.START_TIME,
		bi.END_TIME,
		bi.TITLE
	FROM
		cms_booking b
	LEFT JOIN cms_bookinginfo bi ON b.BOOKINGINFO_ID = bi.BOOKINGINFO_ID
) c ON e.BOOKING_ID = c.BOOKING_ID where 1=1
	<if test="pd.KEYWORDSA != null and pd.KEYWORDSA != ''">
					and
					(
					c.TITLE LIKE CONCAT(CONCAT('%', #{pd.KEYWORDSA}),'%')
					or
					e.NAME LIKE CONCAT(CONCAT('%', #{pd.KEYWORDSA}),'%')
					or
					e.DEPARTMENT_NAME LIKE CONCAT(CONCAT('%', #{pd.KEYWORDSA}),'%')
					)
	</if> 
	</select>

    <!-- fh313596790qq(青苔) -->
</mapper>