<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>海淀区民办教育管理平台</title>
	<!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 10]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!-- Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="author" content="FH Admin QQ313596790" />

	<link rel="icon" href="../../../assets/images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="../../../assets/fonts/fontawesome/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="../../../assets/plugins/animation/css/animate.min.css">
	<link rel="stylesheet" href="../../../assets/css/style.css">
	<link rel="stylesheet" href="../../../assets/css/layui/layui.css">

	<!-- vue -->
	<script src="../../../assets/js-vue/vue.js"></script>
	<!--全局配置-->
	<script src="../../../assets/js-v/config.js"></script>

</head>

<body style="background-color: white">

<!-- [加载状态 ] start -->
<div class="loader-bg">
	<div class="loader-track">
		<div class="loader-fill"></div>
	</div>
</div>
<!-- [ 加载状态  ] End -->
<!-- [ 主内容区 ] start -->
<div class="pcoded-wrapper" id="app">
	<div class="pcoded-content">
		<div class="pcoded-inner-content">
			<div class="main-body">
				<div class="page-wrapper">
					<!-- [ Main Content ] start -->
					<div class="row">

						<div style="width: 100%;">
							<div id="showform">
								<h6 style="margin-left: 5px;">上级栏目：{{parentId == '0' ?'(无) 此项为顶级栏目':pds.NAME}}</h6>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" style="width: 79px;"><span style="width: 100%;">栏目名称</span></span>
									</div>
									<input type="text" class="form-control" ref="name" id="name"  v-model="name"  maxlength="32" placeholder="这里输入栏目名称" title="栏目名称" >
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" style="width: 79px;"><span style="width: 100%;">栏目链接</span></span>
									</div>
									<input type="text" class="form-control" ref="url" id="url"  v-model="url"  maxlength="255" placeholder="这里输入栏目链接" title="栏目链接" >
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" style="width: 79px;"><span style="width: 100%;">栏目序号</span></span>
									</div>
									<input type="text" class="form-control" ref="order" id="order"  v-model="order"  maxlength="32" placeholder="这里输入栏目序号" title="栏目序号" >
								</div>
								<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
									<div class="input-group-prepend">
									    <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">栏目类型</span></span>
									</div>
									<select class="form-control" v-model="type" id="type" ref="type" style="height: 33px;padding-left:10px;border: 1px solid #CED4DA;transparent;appearance:none;-moz-appearance:none;-webkit-appearance:none;">
									  <!-- <option value="">栏目类型</option> -->
									</select>
									<!-- <select v-model="TYPE" class="form-control" id="TYPE" ref="TYPE" title="请假类型" style="height: 33px;padding-left:10px;border: 1px solid #CED4DA;transparent;appearance:none;-moz-appearance:none;-webkit-appearance:none;"></select> -->
								</div>
								
								<div class="input-group input-group-sm mb-3" style="margin-top: -10px;">
									<div class="input-group-prepend">
									    <span class="input-group-text" style="width: 79px;"><span style="width: 100%;">显示文章</span></span>
									</div>
									<select class="form-control" v-model="iscont" id="iscont" ref="iscont" style="height: 33px;padding-left:10px;border: 1px solid #CED4DA;transparent;appearance:none;-moz-appearance:none;-webkit-appearance:none;">
									  <!-- <option value="">栏目类型</option> -->
									</select>
									<!-- <select v-model="TYPE" class="form-control" id="TYPE" ref="TYPE" title="请假类型" style="height: 33px;padding-left:10px;border: 1px solid #CED4DA;transparent;appearance:none;-moz-appearance:none;-webkit-appearance:none;"></select> -->
								</div>

								<div class="input-group input-group-sm mb-3" style="height: 100px;margin-top: 6px">
									<div class="input-group-prepend">
										<span class="input-group-text" style="width: 79px;"><span style="width: 100%;">栏目图片</span></span>
									</div>
									<div ref="image" id="image"></div>
									<div style="margin: 0 20px;align-content: center">
										<div class="layui-upload-list" style="margin: 0!important;">
											<img class="layui-upload-img img-thumbnail" :src="image==''?'../../../assets/images/pic.png':nginxurl+image" style="height: 80px;width: 80px" id="demo1">
											<!--<p id="demoText"></p>-->
										</div>
										<button type="button" class="layui-btn layui-btn-primary layui-btn-sm " id="test1" style="margin-left: 4px">上传图片</button>
									</div>
								</div>
								<div class="input-group input-group-sm mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text " style="width: 79px;"><span style="width: 100%;">栏目描述</span></span>
									</div>
									<input type="text" class="form-control" ref="description" id="description"  v-model="description"  maxlength="32" placeholder="这里输入栏目描述" title="栏目描述" >
								</div>


								<div class="input-group" style="margin-top:0px;background-color: white" >
						            	<span style="width: 100%;padding-left: 15px;">
						            		<a class="btn btn-light btn-sm" v-on:click="save();">保存</a>
						            		<a class="btn btn-light btn-sm" v-on:click="goback(parentId,'back')">取消</a>
						            	</span>
								</div>

							</div>

							<!-- [加载状态 ] start -->
							<div id="jiazai" style="display:none;margin-top:50px;">
								<div class="d-flex justify-content-center">
									<div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
										<span class="sr-only">Loading...</span>
									</div>
								</div>
							</div>
							<!-- [ 加载状态  ] End -->

						</div>

					</div>
					<!-- [ Main Content ] end -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ 主内容区 ] end -->

<script type="text/javascript" src="../../../assets/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../../assets/js/pre-loader.js"></script>
<script type="text/javascript" src="../../../assets/plugins/sweetalert/js/sweetalert.min.js"></script>
<!-- 表单验证提示 -->
<script type="text/javascript" src="../../../assets/js/jquery.tips.js"></script>
<!--layui-->
<script type="text/javascript" src="../../../assets/js/layui/layui.js"></script>

<!-- 本页面js -->
<script type="text/javascript" src="../../../assets/js-v/category/category_edit.js"></script>

</body>
</html>
