<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>海淀区民办教育管理平台</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="FH Admin QQ313596790" />

    <link rel="icon" href="../../../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../assets/fonts/material/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../../assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/animation/css/animate.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    
    <link type="text/css" href="../../../assets/js-v/rotaryimg/zzsc.css" rel="stylesheet" />
    <!-- vue -->
	<script src="../../../assets/js-vue/vue.js"></script>
    <!--全局配置-->
    <script src="../../../assets/js-v/config.js"></script>
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=zUienaLUDnqDWVVd7Zm6eQl3Z33nHvbq"></script>

	<style type="text/css">
			body,
			html,
			#allmap {
				width: 100%;
				height: 100%;
				overflow: hidden;
				margin: 0;
				font-family: "微软雅黑";
			}
			#up-map-div{
			width:30%;
			height:50%;
			bottom: 20px;
			left: 30px;
			position:absolute;
			z-index:9999;
			background-color:#FFFFFF;
			padding: 10px;
			display: none;
			}

	</style>

</head>

<body>
   
   <div style="height: 30xp">
			<button id="onMap">设置中心点幼儿园</button>
			<button id="onMap4">幼儿园</button>
			<button id="onMap1">设置中心点小学</button>
			<button id="onMap5">小学</button>
			<button id="onMap2">设置中心点中学</button>
			<button id="onMap6">中学</button>
			<button id="onMap3">设置中心点培训机构</button>
			<button id="onMap7">培训机构</button>
	</div>
	<div id="allmap"></div>
	<div id="up-map-div"></div> 
   
    
<script type="text/javascript" src="../../../assets/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="../../../assets/js/pre-loader.js"></script>
<script src="../../../assets/plugins/sweetalert/js/sweetalert.min.js"></script>
<!-- 表单验证提示 -->
<script src="../../../assets/js/jquery.tips.js"></script>

<!-- select插件 -->
<script type="text/javascript" src="../../../assets/plugins/select2/js/select2.full.min.js"></script>
<script type="text/javascript" src="../../../assets/plugins/multi-select/js/jquery.quicksearch.js"></script>
<script type="text/javascript" src="../../../assets/plugins/multi-select/js/jquery.multi-select.js"></script>
<script type="text/javascript" src="../../../assets/js/pages/form-select-custom.js"></script>


<script type="text/javascript" src="../../../assets/js-v/util/formatDate.js"></script>
<script type="text/javascript" src="../../../assets/js-v/rotaryimg/map_list.js"></script>

</body>
</html>